
.Rbuildignore

.Rproj.user/B3EAF57A/sdb/prop/2841FA64

.Rproj.user/B3EAF57A/sdb/prop/61012079

.Rproj.user/B3EAF57A/sdb/prop/78C78271

.Rproj.user/B3EAF57A/sdb/prop/D96E562E

.Rproj.user/B3EAF57A/sdb/s-46029000/523889FA

.Rproj.user/B3EAF57A/sdb/s-46029000/55084F65

.Rproj.user/B3EAF57A/sdb/s-46029000/EA8A2E6E

.Rproj.user/B3EAF57A/sdb/s-46029000/lock_file

.Rproj.user/B3EAF57A/sdb/prop/INDEX
.Rproj.user

*.pper

*.pper

.Rproj.user/B3EAF57A/sdb/per/t/5E4F9A73

.Rproj.user/B3EAF57A/pcs/files-pane.pper

*.pper

*.pper

.Rproj.user/B3EAF57A/pcs/source-pane.pper

*.pper

*.pper

.Rproj.user/B3EAF57A/pcs/workbench-pane.pper

.Rproj.user/B3EAF57A/pcs/windowlayoutstate.pper

.Rproj.user/B3EAF57A/persistent-state

.DS_Store
